.motivations {
  .card {
    cursor: pointer;

    &:hover {
      transform: scale(100.5%);
    }

    h5 {
      margin: 0;
      padding: 0;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .completed {
      text-decoration: line-through;
      color: green;
    }
  }
}
